<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyz.user.dao.UserDao" >

    <select id="findUser" resultType="com.lyz.user.bean.User" >
        select * from user u where u.username=#{0} and u.password=#{1}
    </select>
    <!-- 插入一条城市记录 -->
    <insert id="saveUser" parameterType="com.lyz.user.bean.User">
    	insert into user (username,password,name, email)
        values (#{username},#{password}, #{name}, #{email} )
    </insert>

    <!-- 根据省份名称返回该省份下的所有城市列表 -->
    <select id="getAllUser" resultType="com.lyz.user.bean.User">
		select * from user u	
    </select>
    
    <!-- 根据 city_code 查找城市信息 -->
    <select id="getById" resultType="com.lyz.user.bean.User" parameterType="java.lang.Integer">
    	select * from user u where u.uid = #{uid}
    </select>
    
    <!-- 重命名城市 -->  
    <update id="rename" parameterType="com.lyz.user.bean.User">
    	update user set username = #{username} where uid = #{uid}
    </update>  
    
    <!-- 删除一个城市记录 -->  
    <delete id="deleteById" parameterType="java.lang.Integer">  
        delete from user where uid = #{uid}  
    </delete>  
</mapper>