<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>lyz</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-mybatis.xml</param-value>
	</context-param>
	  
	<!-- login filter -->
	<!-- <filter>
	    <filter-name>LoginFilter</filter-name>
	    <filter-class>com.lyz.user.LoginFilter</filter-class>
	    <init-param>
	        <description>检查失败后需要定向到的页面</description>
	        <param-name>redirectURL</param-name>
	        <param-value>login.jsp</param-value>
	    </init-param>
	    
	    <init-param>
	        <description>不用检查用户的页面列表，用","分隔</description>
	        <param-name>notCheckURLList</param-name>
	        <param-value>index.jsp,login.jsp,jsp/success.jsp</param-value>
	     </init-param>
	    
	 </filter>
	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>  -->
	 
	
	 <filter>
	<!-- character encoding related.....start --><!-- TODO : 将 encodingFilter、sysParamsFilter 两个过滤器交给 spring 管理 -->
		<filter-name>encodingFilter</filter-name>
		<filter-class>
		        org.springframework.web.filter.CharacterEncodingFilter 
		</filter-class>
		<init-param>
		       <param-name>encoding</param-name>
		       <param-value>UTF-8</param-value>
		</init-param>
		<init-param>
		       <param-name>forceEncoding</param-name>
		       <param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	      <filter-name>encodingFilter</filter-name>
	      <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 除了加过滤器，由于tomcat默认编码ISO-8859-1，还需要修改 %tomcat%/conf/server.xml Connector 标签加属性 URIEncoding="UTF-8" -->
	<!-- character encoding related.....end -->

	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- config default to handle static resources in project -->
	<servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.css</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.gif</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.jpg</url-pattern>  
    </servlet-mapping>
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.png</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.js</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping> 
            <servlet-name>default</servlet-name> 
            <url-pattern>*.html</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.woff2</url-pattern>  
    </servlet-mapping>  
    <servlet-mapping>  
            <servlet-name>default</servlet-name>  
            <url-pattern>*.woff</url-pattern>  
    </servlet-mapping>
    <servlet-mapping> 
            <servlet-name>default</servlet-name> 
            <url-pattern>*.ttf</url-pattern> 
    </servlet-mapping>
	
    <!-- config DispatcherServlet to handle request -->
	<servlet>
		<servlet-name>lyzmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lyzmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>